<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="Mount">
        <%- markup %>
    </div>
    <script>
    <%- state %>
    </script>
    <script src="/client.js"></script>
  </body>
</html>